Repository girlscript-blr/code-with-girlscript-bangalore, pull requests merged in 2020-09, with the labels that each got.

#71 Pacman game-hard solution
  Hard/2. Pacman Game/solutions/bhargavbhatiya_bhargav/README.md
  Hard/2. Pacman Game/solutions/bhargavbhatiya_bhargav/Screenshot (57).png
  Hard/2. Pacman Game/solutions/bhargavbhatiya_bhargav/Screenshot (59).png
  Hard/2. Pacman Game/solutions/bhargavbhatiya_bhargav/Screenshot (60).png
  Hard/2. Pacman Game/solutions/bhargavbhatiya_bhargav/Screenshot (61).png
  Hard/2. Pacman Game/solutions/bhargavbhatiya_bhargav/Screenshot (62).png
  Hard/2. Pacman Game/solutions/bhargavbhatiya_bhargav/Screenshot (88).png
  Hard/2. Pacman Game/solutions/bhargavbhatiya_bhargav/pacman_Hard_solution.cpp
Labels: advanced

#72 Pacman easy
  Easy/2. Pacman Game/solutions/swetakyada/PacmanEasy.cpp
  Easy/2. Pacman Game/solutions/swetakyada/Screenshot (2).png
  Easy/2. Pacman Game/solutions/swetakyada/Screenshot (213).png
  Easy/2. Pacman Game/solutions/swetakyada/Screenshot (216).png
  Easy/2. Pacman Game/solutions/swetakyada/Screenshot (217).png
Labels: easy

#83 Implemented the Solution for the Easy Problem of Covd19 App.
  Easy/3. COVID-19 Food Supply App/solutions/srimani-programmer_SriManikanta/GirlScript September Easy.pdf
  Easy/3. COVID-19 Food Supply App/solutions/srimani-programmer_SriManikanta/README.md
  Easy/3. COVID-19 Food Supply App/solutions/srimani-programmer_SriManikanta/app.py
Labels: easy

#87 Covid Food App Simple Program Solution in Python
  Easy/3. COVID-19 Food Supply App/solutions/CO18325_Inderpreet-Singh/GIRLSCRIPT.pdf
  Easy/3. COVID-19 Food Supply App/solutions/CO18325_Inderpreet-Singh/main.py
  Easy/3. COVID-19 Food Supply App/solutions/CO18325_Inderpreet-Singh/readme.md
Labels: easy

#88 COVID FOOD APP MEDIUM PROBLEM SEPTEMBER PROBLEM
  Medium/3. COVID-19 Food Supply App/solutions/CO18325_Inderpreet-Singh/GIRLSCRIPT_MEDIUM_INDERPREET_SINGH_CO18325.pdf
  Medium/3. COVID-19 Food Supply App/solutions/CO18325_Inderpreet-Singh/main.py
  Medium/3. COVID-19 Food Supply App/solutions/CO18325_Inderpreet-Singh/readme.md
Labels: intermediate, scored

#92 SEPTEMBER HARD PROBLEM
  Hard/3. COVID-19 Food Supply App/solutions/CO18325_INDERPREET-SINGH/GIRLSCRIPT.pdf
  Hard/3. COVID-19 Food Supply App/solutions/CO18325_INDERPREET-SINGH/database.db
  Hard/3. COVID-19 Food Supply App/solutions/CO18325_INDERPREET-SINGH/main.py
Labels: advanced
