Repository girlscript-blr/code-with-girlscript-bangalore, pull requests merged in 2020-07, with the labels that each got.

#7 Shopping Cart Easy
  Easy/1. Shopping Cart Problem/solutions/Harshitha-sa_Harshitha/ShoopinCartEasy_Explanation.pdf
  Easy/1. Shopping Cart Problem/solutions/Harshitha-sa_Harshitha/ShoppingCartEasy.cpp
Labels: easy

#23 Jayasurya Shopping Cart Problem
  Easy/1. Shopping Cart Problem/solutions/jsuryakt_Jayasurya/README.md
  Easy/1. Shopping Cart Problem/solutions/jsuryakt_Jayasurya/Screenshot (24).png
  Easy/1. Shopping Cart Problem/solutions/jsuryakt_Jayasurya/ShoppingCart.py
Labels: easy

#19 Submission of Easy/1. Shopping Cart Problem/
  Easy/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/.gitignore
  Easy/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/README.md
  Easy/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/app.py
  Easy/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/requirements.txt
  Easy/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/templates/base.html
  Easy/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/templates/create_order.html
  Easy/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/templates/display_bill.html
  Easy/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/templates/index.html
  Easy/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/templates/shopping_list.html
  Easy/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/utilities.py
Labels: easy

#13 Shopping cart easy
  Easy/1. Shopping Cart Problem/solutions/encarcio_Aditya Abhishek/Customer.java
  Easy/1. Shopping Cart Problem/solutions/encarcio_Aditya Abhishek/ShoppingCartEasy.java
  Easy/1. Shopping Cart Problem/solutions/encarcio_Aditya Abhishek/Solution.pdf
Labels: easy

#28 Easy solution
  Easy/1. Shopping Cart Problem/solutions/AKSHIT989_Akshit/Shopping cart Easy solution.pdf
  Easy/1. Shopping Cart Problem/solutions/AKSHIT989_Akshit/easy.py
Labels: easy

#18 Shopping cart medium solution added.
  Medium/1. Shopping Cart Problem/solutions/garimasingh128_Garima Singh/Approach to solve medium question_.pdf
  Medium/1. Shopping Cart Problem/solutions/garimasingh128_Garima Singh/main.cpp
Labels: intermediate

#32 Shopping cart easy
  Easy/1. Shopping Cart Problem/solutions/Riteek1999_RiteekJha/Shopping Cart Document.pdf
  Easy/1. Shopping Cart Problem/solutions/Riteek1999_RiteekJha/calc.php
  Easy/1. Shopping Cart Problem/solutions/Riteek1999_RiteekJha/css/style.css
  Easy/1. Shopping Cart Problem/solutions/Riteek1999_RiteekJha/images/1.jpg
  Easy/1. Shopping Cart Problem/solutions/Riteek1999_RiteekJha/images/2.jpg
  Easy/1. Shopping Cart Problem/solutions/Riteek1999_RiteekJha/images/3.png
  Easy/1. Shopping Cart Problem/solutions/Riteek1999_RiteekJha/index.php
  Easy/1. Shopping Cart Problem/solutions/Riteek1999_RiteekJha/js/script.js
  Easy/1. Shopping Cart Problem/solutions/Riteek1999_RiteekJha/js/script1.js
Labels: easy

#30 Shopping cart medium Solution [Medium] [Intermediate]
  Medium/1. Shopping Cart Problem/solutions/jsuryakt_Jayasurya/README.md
  Medium/1. Shopping Cart Problem/solutions/jsuryakt_Jayasurya/Screenshot (26).png
  Medium/1. Shopping Cart Problem/solutions/jsuryakt_Jayasurya/Screenshot (27).png
  Medium/1. Shopping Cart Problem/solutions/jsuryakt_Jayasurya/Screenshot (28).png
  Medium/1. Shopping Cart Problem/solutions/jsuryakt_Jayasurya/Screenshot (29).png
  Medium/1. Shopping Cart Problem/solutions/jsuryakt_Jayasurya/Screenshot (30).png
  Medium/1. Shopping Cart Problem/solutions/jsuryakt_Jayasurya/Screenshot (45).png
  Medium/1. Shopping Cart Problem/solutions/jsuryakt_Jayasurya/Shopping Cart Medium Solution.py
Labels: intermediate

#39 Added Shopping cart easy solution with approach and screenshots
  Easy/1. Shopping Cart Problem/solutions/bharath-acchu_Bharath_C_S/Bharath_C_S_shopping_cart_easy_approach_and_screenshots.pdf
  Easy/1. Shopping Cart Problem/solutions/bharath-acchu_Bharath_C_S/shop.py
Labels: easy

#38 Shopping cart easy
  Easy/1. Shopping Cart Problem/solutions/Abhijit2505_AbhijitTripathy/Easy soln Documentation.pdf
  Easy/1. Shopping Cart Problem/solutions/Abhijit2505_AbhijitTripathy/main.cpp
Labels: easy

#41 An attempt to the solution of the Shopping Cart Medium Problem
  Medium/1. Shopping Cart Problem/solutions/zenit-abh_RishabhUpadhyay/Shopping Cart Problem - Medium.docx
  Medium/1. Shopping Cart Problem/solutions/zenit-abh_RishabhUpadhyay/ShoppingCartMedium.cpp
Labels: intermediate

#29 Added Solution to Shopping cart intermediate
  Medium/1. Shopping Cart Problem/solutions/Vanshikaa00_Vanshika/GadgetifyWithGSBlrIntermediate.java
  Medium/1. Shopping Cart Problem/solutions/Vanshikaa00_Vanshika/getBill.java
  Medium/1. Shopping Cart Problem/solutions/Vanshikaa00_Vanshika/itemDetails.java
  Medium/1. Shopping Cart Problem/solutions/Vanshikaa00_Vanshika/shoppingCartIntermediateSolutionDescription.pdf
Labels: intermediate

#24 Shopping cart problem -medium
  Medium/1. Shopping Cart Problem/solutions/AcidBurn18_AnshAgrawal/Readme.docx
  Medium/1. Shopping Cart Problem/solutions/AcidBurn18_AnshAgrawal/Solution
Labels: intermediate

#43 Shopping cart medium solution is added
  Medium/1. Shopping Cart Problem/solutions/Bharath-acchu_Bharath_C_S/Bharath_C_S_shooping_cart_medium_approach_and_screenshots.pdf
  Medium/1. Shopping Cart Problem/solutions/Bharath-acchu_Bharath_C_S/medium_shop.py
Labels: intermediate

#48 Submission of Medium/1. Shopping Cart Problem/
  Medium/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/.gitignore
  Medium/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/README.md
  Medium/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/app.py
  Medium/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/requirements.txt
  Medium/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/static/js/logic.js
  Medium/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/templates/base.html
  Medium/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/templates/create_order.html
  Medium/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/templates/display_bill.html
  Medium/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/templates/index.html
  Medium/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/templates/shopping_list.html
  Medium/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/utilities.py
Labels: intermediate

#45 Shopping Cart done
  Easy/1. Shopping Cart Problem/solutions/damini31_DaminiChauhan/Shopping Cart Problem.docx
  Easy/1. Shopping Cart Problem/solutions/damini31_DaminiChauhan/ShoppingCart_Easy.cpp
Labels: easy

#49 Shopping cart easy
  Easy/1. Shopping Cart Problem/solutions/bagofcodes_AnshumaliShaw/ShoppingCartSolution(Easy).pdf
  Easy/1. Shopping Cart Problem/solutions/bagofcodes_AnshumaliShaw/solution.py
Labels: easy

#50 Shopping cart medium
  Medium/1. Shopping Cart Problem/solutions/damini31_DaminiChauhan/Medium_shoppingCart.cpp
  Medium/1. Shopping Cart Problem/solutions/damini31_DaminiChauhan/Shopping Cart Problem-Medium.docx
Labels: intermediate

#51 Implemented the Shopping Cart Easy Problem Solution.
  Easy/1. Shopping Cart Problem/solutions/srimani-programmer_SriManikanta/.gitignore
  Easy/1. Shopping Cart Problem/solutions/srimani-programmer_SriManikanta/Shooping Cart Easy Solution Report.pdf
  Easy/1. Shopping Cart Problem/solutions/srimani-programmer_SriManikanta/app.py
Labels: easy

#21 Shopping cart
  Easy/1. Shopping Cart Problem/solutions/poojabh08_Pooja/description.txt
  Easy/1. Shopping Cart Problem/solutions/poojabh08_Pooja/screenshot.pdf
  Easy/1. Shopping Cart Problem/solutions/poojabh08_Pooja/solutions.py
Labels: easy

#22 Shop cart easy
  Easy/1. Shopping Cart Problem/solutions/SlaYpoint_Adithya/README.pdf
  Easy/1. Shopping Cart Problem/solutions/SlaYpoint_Adithya/bills/2020-7-3-19:33:8_Adithya.txt
  Easy/1. Shopping Cart Problem/solutions/SlaYpoint_Adithya/compute.py
  Easy/1. Shopping Cart Problem/solutions/SlaYpoint_Adithya/invoice.py
  Easy/1. Shopping Cart Problem/solutions/SlaYpoint_Adithya/main.py
  Easy/1. Shopping Cart Problem/solutions/SlaYpoint_Adithya/user.py
Labels: easy

#52 Implemented the Shopping Cart Medium Solution in Python.
  Medium/1. Shopping Cart Problem/solutions/srimani-programmer_SriManikanta/.gitignore
  Medium/1. Shopping Cart Problem/solutions/srimani-programmer_SriManikanta/Shopping Cart Medium Solution.pdf
  Medium/1. Shopping Cart Problem/solutions/srimani-programmer_SriManikanta/app.py
Labels: intermediate

#53 Shopping cart easy Karnak123
  Easy/1. Shopping Cart Problem/solutions/Karnak123_SagnikMazumder/John_Smith.txt
  Easy/1. Shopping Cart Problem/solutions/Karnak123_SagnikMazumder/Solution.pdf
  Easy/1. Shopping Cart Problem/solutions/Karnak123_SagnikMazumder/solution.py
Labels: easy

#54 Submission of Hard/1. Shopping Cart Problem/
  Hard/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/.gitignore
  Hard/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/GadgetifyWithGSBlr/__init__.py
  Hard/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/GadgetifyWithGSBlr/asgi.py
  Hard/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/GadgetifyWithGSBlr/settings.py
  Hard/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/GadgetifyWithGSBlr/static/js/logic.js
  Hard/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/GadgetifyWithGSBlr/templates/base.html
  Hard/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/GadgetifyWithGSBlr/urls.py
  Hard/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/GadgetifyWithGSBlr/wsgi.py
  Hard/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/README.md
  Hard/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/manage.py
  Hard/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/requirements.txt
  Hard/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/shoppingcart/__init__.py
  Hard/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/shoppingcart/admin.py
  Hard/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/shoppingcart/apps.py
  Hard/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/shoppingcart/forms.py
  Hard/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/shoppingcart/migrations/__init__.py
  Hard/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/shoppingcart/models.py
  Hard/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/shoppingcart/order_invoices/order_1.json
  Hard/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/shoppingcart/order_invoices/order_2.json
  Hard/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/shoppingcart/templates/categories.html
  Hard/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/shoppingcart/templates/create_order.html
  Hard/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/shoppingcart/templates/display_bill.html
  Hard/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/shoppingcart/templates/index.html
  Hard/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/shoppingcart/templates/order_status.html
  Hard/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/shoppingcart/templates/shopping_list.html
  Hard/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/shoppingcart/templates/vendor/all_categories.html
  Hard/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/shoppingcart/templates/vendor/all_items.html
  Hard/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/shoppingcart/templates/vendor/all_orders.html
  Hard/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/shoppingcart/templates/vendor/create_category.html
  Hard/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/shoppingcart/templates/vendor/create_item.html
  Hard/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/shoppingcart/templates/vendor/edit_category.html
  Hard/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/shoppingcart/templates/vendor/edit_item.html
  Hard/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/shoppingcart/templates/vendor/vendor_main.html
  Hard/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/shoppingcart/templatetags/__init__.py
  Hard/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/shoppingcart/templatetags/shoppingcart_extras.py
  Hard/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/shoppingcart/tests.py
  Hard/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/shoppingcart/urls.py
  Hard/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/shoppingcart/utilities.py
  Hard/1. Shopping Cart Problem/solutions/chttrjeankr_Ankur_Chattopadhyay/shoppingcart/views.py
Labels: advanced

#27 Solution in python of the ShoppingcartEasy problem
  Easy/1. Shopping Cart Problem/solutions/neha07kumari_NehaKumari/screenshot.doc.docx
  Easy/1. Shopping Cart Problem/solutions/neha07kumari_NehaKumari/shoppingEasy.py
Labels: easy

#57 Implemented the Hard problem Solution using Python.
  Hard/1. Shopping Cart Problem/solutions/srimani-programmer_SriManikanta/Shopping cart Hard.pdf
  Hard/1. Shopping Cart Problem/solutions/srimani-programmer_SriManikanta/app.py
  Hard/1. Shopping Cart Problem/solutions/srimani-programmer_SriManikanta/database.py
  Hard/1. Shopping Cart Problem/solutions/srimani-programmer_SriManikanta/shoppingCart.db
Labels: advanced

#62 added solution of ShoppingCartEasy
  Easy/1. Shopping Cart Problem/solutions/Kaushkiraj_KaushkiRaj/GadgetifywithGSBlr_Easy.py
  Easy/1. Shopping Cart Problem/solutions/Kaushkiraj_KaushkiRaj/Solution.pdf
Labels: easy

#58 ShoppingCartEasySolution
  Easy/1. Shopping Cart Problem/solutions/Abhishek Singh/CodeSS.pdf
  Easy/1. Shopping Cart Problem/solutions/Abhishek Singh/Shopping Cart Output SS.pdf
  Easy/1. Shopping Cart Problem/solutions/Abhishek Singh/ShoppingCartEasy.py
Labels: easy

#59 Solution for Shopping Cart Medium
  Medium/1. Shopping Cart Problem/solutions/encarcio_Aditya Abhishek/Customer.java
  Medium/1. Shopping Cart Problem/solutions/encarcio_Aditya Abhishek/ShopItem.java
  Medium/1. Shopping Cart Problem/solutions/encarcio_Aditya Abhishek/ShoppingCartMedium.java
  Medium/1. Shopping Cart Problem/solutions/encarcio_Aditya Abhishek/Solution.pdf
Labels: intermediate

#64 solution for cart problem added
  Easy/1. Shopping Cart Problem/solutions/shraddhavp_easy_folder/SOLUTION.docx
  Easy/1. Shopping Cart Problem/solutions/shraddhavp_easy_folder/shraddhavp_shraddha.PY
Labels: easy

#65 Shopping Cart Problem Hard
  Hard/1. Shopping Cart Problem/solutions/damini31_DaminiChauhan/Category.csv
  Hard/1. Shopping Cart Problem/solutions/damini31_DaminiChauhan/Hard_ShoppingCart.py
  Hard/1. Shopping Cart Problem/solutions/damini31_DaminiChauhan/Items.csv
  Hard/1. Shopping Cart Problem/solutions/damini31_DaminiChauhan/Orders.csv
  Hard/1. Shopping Cart Problem/solutions/damini31_DaminiChauhan/Shopping Cart Problem_Hard.docx
Labels: advanced
