Repository girlscript-blr/code-with-girlscript-bangalore, pull requests merged in 2020-11, with the labels that each got.

#127 IPL Management APP-EASY
  Easy/5. IPL Management App/solutions/4doctorstrange_IPL-EASY/Read Me.txt
  Easy/5. IPL Management App/solutions/4doctorstrange_IPL-EASY/app.py
  Easy/5. IPL Management App/solutions/4doctorstrange_IPL-EASY/ipl_home.JPG
  Easy/5. IPL Management App/solutions/4doctorstrange_IPL-EASY/ipl_numberofteams.JPG
  Easy/5. IPL Management App/solutions/4doctorstrange_IPL-EASY/ipl_registeringTeams.JPG
  Easy/5. IPL Management App/solutions/4doctorstrange_IPL-EASY/ipl_table.JPG
  Easy/5. IPL Management App/solutions/4doctorstrange_IPL-EASY/templates/addteams.html
  Easy/5. IPL Management App/solutions/4doctorstrange_IPL-EASY/templates/base.html
  Easy/5. IPL Management App/solutions/4doctorstrange_IPL-EASY/templates/display.html
  Easy/5. IPL Management App/solutions/4doctorstrange_IPL-EASY/templates/index.html
  Easy/5. IPL Management App/solutions/4doctorstrange_IPL-EASY/templates/register.html
Labels: easy

#126 IPL Management App (Easy) Solution
  Easy/5. IPL Management App/solutions/Vanshikaa00_Vanshika/AppEasy.java
  Easy/5. IPL Management App/solutions/Vanshikaa00_Vanshika/Details.java
  Easy/5. IPL Management App/solutions/Vanshikaa00_Vanshika/iplMgmtEasyDescrp.pdf
Labels: easy

#123 Add Medium Solution
  Medium/4. Digital Hospital Manager/solutions/AnjaliPatle_Anjali/Solution_App/.gitignore
  Medium/4. Digital Hospital Manager/solutions/AnjaliPatle_Anjali/Solution_App/README.md
  Medium/4. Digital Hospital Manager/solutions/AnjaliPatle_Anjali/Solution_App/debug.log
  Medium/4. Digital Hospital Manager/solutions/AnjaliPatle_Anjali/Solution_App/package-lock.json
  Medium/4. Digital Hospital Manager/solutions/AnjaliPatle_Anjali/Solution_App/package.json
  Medium/4. Digital Hospital Manager/solutions/AnjaliPatle_Anjali/Solution_App/public/favicon.ico
  Medium/4. Digital Hospital Manager/solutions/AnjaliPatle_Anjali/Solution_App/public/index.html
  Medium/4. Digital Hospital Manager/solutions/AnjaliPatle_Anjali/Solution_App/public/logo192.png
  Medium/4. Digital Hospital Manager/solutions/AnjaliPatle_Anjali/Solution_App/public/logo512.png
  Medium/4. Digital Hospital Manager/solutions/AnjaliPatle_Anjali/Solution_App/public/manifest.json
  Medium/4. Digital Hospital Manager/solutions/AnjaliPatle_Anjali/Solution_App/public/robots.txt
  Medium/4. Digital Hospital Manager/solutions/AnjaliPatle_Anjali/Solution_App/src/App.css
  Medium/4. Digital Hospital Manager/solutions/AnjaliPatle_Anjali/Solution_App/src/App.js
  Medium/4. Digital Hospital Manager/solutions/AnjaliPatle_Anjali/Solution_App/src/App.test.js
  Medium/4. Digital Hospital Manager/solutions/AnjaliPatle_Anjali/Solution_App/src/DBDetails.js
  Medium/4. Digital Hospital Manager/solutions/AnjaliPatle_Anjali/Solution_App/src/Form.js
  Medium/4. Digital Hospital Manager/solutions/AnjaliPatle_Anjali/Solution_App/src/PatientDB.js
  Medium/4. Digital Hospital Manager/solutions/AnjaliPatle_Anjali/Solution_App/src/Search.js
  Medium/4. Digital Hospital Manager/solutions/AnjaliPatle_Anjali/Solution_App/src/index.css
  Medium/4. Digital Hospital Manager/solutions/AnjaliPatle_Anjali/Solution_App/src/index.js
  Medium/4. Digital Hospital Manager/solutions/AnjaliPatle_Anjali/Solution_App/src/logo.svg
  Medium/4. Digital Hospital Manager/solutions/AnjaliPatle_Anjali/Solution_App/src/serviceWorker.js
  Medium/4. Digital Hospital Manager/solutions/AnjaliPatle_Anjali/Solution_App/src/setupTests.js
  Medium/4. Digital Hospital Manager/solutions/AnjaliPatle_Anjali/Solution_Description.pdf
Labels: intermediate

#130 IPL Management App -Medium
  Medium/5. IPL Management App/solutions/4doctorstrange_IPl-Medium/Read Me.txt
  Medium/5. IPL Management App/solutions/4doctorstrange_IPl-Medium/app.py
  Medium/5. IPL Management App/solutions/4doctorstrange_IPl-Medium/home page.JPG
  Medium/5. IPL Management App/solutions/4doctorstrange_IPl-Medium/ipl_registeringTeams.JPG
  Medium/5. IPL Management App/solutions/4doctorstrange_IPl-Medium/number of teams.JPG
  Medium/5. IPL Management App/solutions/4doctorstrange_IPl-Medium/schedule.JPG
  Medium/5. IPL Management App/solutions/4doctorstrange_IPl-Medium/teams_table-ipl_medium.JPG
  Medium/5. IPL Management App/solutions/4doctorstrange_IPl-Medium/templates/addteams.html
  Medium/5. IPL Management App/solutions/4doctorstrange_IPl-Medium/templates/base.html
  Medium/5. IPL Management App/solutions/4doctorstrange_IPl-Medium/templates/display.html
  Medium/5. IPL Management App/solutions/4doctorstrange_IPl-Medium/templates/index.html
  Medium/5. IPL Management App/solutions/4doctorstrange_IPl-Medium/templates/register.html
  Medium/5. IPL Management App/solutions/4doctorstrange_IPl-Medium/templates/schedule.html
Labels: intermediate

#131 Add Easy Solution
  Easy/5. IPL Management App/solutions/AnjaliPatle_AnjaliPatle/Explanation.docx
  Easy/5. IPL Management App/solutions/AnjaliPatle_AnjaliPatle/Solution.cpp
  Hard/5. IPL Management App/README.md
Labels: easy

#133 Hard solution for IPL Management App
  Hard/5. IPL Management App/solutions/4doctorstrange-IPL_HARD/Read Me.txt
  Hard/5. IPL Management App/solutions/4doctorstrange-IPL_HARD/Screenshots/Admin's login-Hard.JPG
  Hard/5. IPL Management App/solutions/4doctorstrange-IPL_HARD/Screenshots/FINAL SCHEDULE.JPG
  Hard/5. IPL Management App/solutions/4doctorstrange-IPL_HARD/Screenshots/Getting details of match from match id-hard.JPG
  Hard/5. IPL Management App/solutions/4doctorstrange-IPL_HARD/Screenshots/Points table fresh-hard.JPG
  Hard/5. IPL Management App/solutions/4doctorstrange-IPL_HARD/Screenshots/Points tally update 2-Hard.JPG
  Hard/5. IPL Management App/solutions/4doctorstrange-IPL_HARD/Screenshots/Points tally update 3Hard.JPG
  Hard/5. IPL Management App/solutions/4doctorstrange-IPL_HARD/Screenshots/Points tally update 5-HArd.JPG
  Hard/5. IPL Management App/solutions/4doctorstrange-IPL_HARD/Screenshots/Points tally update1-hard.JPG
  Hard/5. IPL Management App/solutions/4doctorstrange-IPL_HARD/Screenshots/Schedule-Hard.JPG
  Hard/5. IPL Management App/solutions/4doctorstrange-IPL_HARD/Screenshots/update points tally 4-Hard.JPG
  Hard/5. IPL Management App/solutions/4doctorstrange-IPL_HARD/app.py
  Hard/5. IPL Management App/solutions/4doctorstrange-IPL_HARD/templates/addteams.html
  Hard/5. IPL Management App/solutions/4doctorstrange-IPL_HARD/templates/admin.html
  Hard/5. IPL Management App/solutions/4doctorstrange-IPL_HARD/templates/adminkey.html
  Hard/5. IPL Management App/solutions/4doctorstrange-IPL_HARD/templates/base.html
  Hard/5. IPL Management App/solutions/4doctorstrange-IPL_HARD/templates/display.html
  Hard/5. IPL Management App/solutions/4doctorstrange-IPL_HARD/templates/index.html
  Hard/5. IPL Management App/solutions/4doctorstrange-IPL_HARD/templates/points.html
  Hard/5. IPL Management App/solutions/4doctorstrange-IPL_HARD/templates/register.html
  Hard/5. IPL Management App/solutions/4doctorstrange-IPL_HARD/templates/schedule.html
  Hard/5. IPL Management App/solutions/4doctorstrange-IPL_HARD/templates/updatematch.html
Labels: advanced

#134 Ipl management app easy
  Easy/5. IPL Management App/solutions/AcidBurn18_AnshAgrawal/Readme.docx
  Easy/5. IPL Management App/solutions/AcidBurn18_AnshAgrawal/Solution.py
Labels: easy
