Repository girlscript-blr/code-with-girlscript-bangalore, pull requests merged in 2020-10, with the labels that each got.

#98 Digital Hospital Manager Easy
  Easy/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/Hospital Digital Monitor Easy.pdf
  Easy/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/app.py
  Easy/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/patientDB.db
Labels: easy

#102 Dhm medium
  Medium/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/.gitignore
  Medium/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/DHM_Medium.pdf
  Medium/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/README.md
  Medium/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/app.py
  Medium/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/database.db
  Medium/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/database.py
  Medium/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/requirements.txt
  Medium/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/static/css/main.css
  Medium/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/static/css/style.css
  Medium/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/static/images/bg.jpg
  Medium/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/static/images/healthcare.jpg
  Medium/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/templates/404.html
  Medium/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/templates/allPatients.html
  Medium/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/templates/index.html
  Medium/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/templates/patient.html
  Medium/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/templates/recordNotFound.html
  Medium/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/templates/update.html
Labels: intermediate

#105 Implementation of Digital Hospital Monitor Hard Solution
  Hard/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/.gitignore
  Hard/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/DHM_Hard.pdf
  Hard/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/README.md
  Hard/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/app.py
  Hard/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/database.db
  Hard/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/database.py
  Hard/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/requirements.txt
  Hard/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/static/css/main.css
  Hard/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/static/css/style.css
  Hard/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/static/images/bg.jpg
  Hard/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/static/images/healthcare.jpg
  Hard/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/static/images/hospitalBackground.jpg
  Hard/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/templates/404.html
  Hard/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/templates/allPatients.html
  Hard/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/templates/home.html
  Hard/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/templates/hospitalNotFound.html
  Hard/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/templates/hospitalRegistration.html
  Hard/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/templates/hospitalSearch.html
  Hard/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/templates/hospitalStatistics.html
  Hard/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/templates/index.html
  Hard/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/templates/notAvailable.html
  Hard/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/templates/patientData.html
  Hard/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/templates/patientHome.html
  Hard/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/templates/patientRegistration.html
  Hard/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/templates/patientRegistrationSucesses.html
  Hard/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/templates/recordNotFound.html
  Hard/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/templates/recordUpdationSucesses.html
  Hard/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/templates/sucesses.html
  Hard/4. Digital Hospital Manager/solutions/srimani-programmer_SriManikanta/templates/update.html
Labels: advanced

#104 Digital hospital manager easy
  Easy/4. Digital Hospital Manager/solutions/4doctorstrange_HarshRajput/Adding Data.JPG
  Easy/4. Digital Hospital Manager/solutions/4doctorstrange_HarshRajput/Deleting record.JPG
  Easy/4. Digital Hospital Manager/solutions/4doctorstrange_HarshRajput/Displaying data.JPG
  Easy/4. Digital Hospital Manager/solutions/4doctorstrange_HarshRajput/Empty Database.JPG
  Easy/4. Digital Hospital Manager/solutions/4doctorstrange_HarshRajput/Read me .txt
  Easy/4. Digital Hospital Manager/solutions/4doctorstrange_HarshRajput/getting records by date.JPG
  Easy/4. Digital Hospital Manager/solutions/4doctorstrange_HarshRajput/main.py
  Easy/4. Digital Hospital Manager/solutions/4doctorstrange_HarshRajput/patients.py
  Easy/4. Digital Hospital Manager/solutions/4doctorstrange_HarshRajput/record.py
Labels: easy, hacktoberfest-accepted, hacktoberfest2020, scored

#93 Covid-19 food supply App (Easy) Solution
  Easy/3. COVID-19 Food Supply App/solutions/Vanshika00_Vanshika/FoodSupplyEasy.java
  Easy/3. COVID-19 Food Supply App/solutions/Vanshika00_Vanshika/foodSupplyEasyDescription.pdf
Labels: easy

#107 Solution for Hospital Manager Problem Easy
  Easy/4. Digital Hospital Manager/solutions/Vanshikaa00_Vanshika/appEasy.java
  Easy/4. Digital Hospital Manager/solutions/Vanshikaa00_Vanshika/digitalHospitalManagerEasyDescrp.pdf
  Easy/4. Digital Hospital Manager/solutions/Vanshikaa00_Vanshika/patientDetails.java
Labels: easy, hacktoberfest-accepted, hacktoberfest2020, scored

#112 Digital Hospital Management (Medium) Solution.
  Medium/4. Digital Hospital Manager/solutions/pallavisavant_Pallavi Savant/1.png
  Medium/4. Digital Hospital Manager/solutions/pallavisavant_Pallavi Savant/README.md
  Medium/4. Digital Hospital Manager/solutions/pallavisavant_Pallavi Savant/connect.php
  Medium/4. Digital Hospital Manager/solutions/pallavisavant_Pallavi Savant/index.css
  Medium/4. Digital Hospital Manager/solutions/pallavisavant_Pallavi Savant/index.php
  Medium/4. Digital Hospital Manager/solutions/pallavisavant_Pallavi Savant/index.png
  Medium/4. Digital Hospital Manager/solutions/pallavisavant_Pallavi Savant/patient_details _medium.sql
  Medium/4. Digital Hospital Manager/solutions/pallavisavant_Pallavi Savant/patient_details_cured.png
  Medium/4. Digital Hospital Manager/solutions/pallavisavant_Pallavi Savant/patient_details_decreased.png
  Medium/4. Digital Hospital Manager/solutions/pallavisavant_Pallavi Savant/patients_add.php
  Medium/4. Digital Hospital Manager/solutions/pallavisavant_Pallavi Savant/patients_add_details.png
  Medium/4. Digital Hospital Manager/solutions/pallavisavant_Pallavi Savant/patients_update.php
  Medium/4. Digital Hospital Manager/solutions/pallavisavant_Pallavi Savant/patients_update_details.png
  Medium/4. Digital Hospital Manager/solutions/pallavisavant_Pallavi Savant/patients_view.php
  Medium/4. Digital Hospital Manager/solutions/pallavisavant_Pallavi Savant/patients_view_details.png
Labels: intermediate

#108 Solution to Digital Hospital Management Easy problem statement.
  Easy/4. Digital Hospital Manager/solutions/pallavisavant_Pallavi Savant/1.png
  Easy/4. Digital Hospital Manager/solutions/pallavisavant_Pallavi Savant/Adding_Details.png
  Easy/4. Digital Hospital Manager/solutions/pallavisavant_Pallavi Savant/Dashboard.png
  Easy/4. Digital Hospital Manager/solutions/pallavisavant_Pallavi Savant/README.md
  Easy/4. Digital Hospital Manager/solutions/pallavisavant_Pallavi Savant/View_Details.png
  Easy/4. Digital Hospital Manager/solutions/pallavisavant_Pallavi Savant/connect.php
  Easy/4. Digital Hospital Manager/solutions/pallavisavant_Pallavi Savant/index.css
  Easy/4. Digital Hospital Manager/solutions/pallavisavant_Pallavi Savant/index.php
  Easy/4. Digital Hospital Manager/solutions/pallavisavant_Pallavi Savant/patient_details.sql
  Easy/4. Digital Hospital Manager/solutions/pallavisavant_Pallavi Savant/patients_add.php
  Easy/4. Digital Hospital Manager/solutions/pallavisavant_Pallavi Savant/patients_view.php
Labels: easy

#110 Digital Hospital Manager Easy Solution
  Bonus/4. Digital Hospital Manager/README.md
  Easy/4. Digital Hospital Manager/solutions/Prachi-05_Prachi/DigitalHospitalManager.java
  Easy/4. Digital Hospital Manager/solutions/Prachi-05_Prachi/README.md
  Easy/4. Digital Hospital Manager/solutions/Prachi-05_Prachi/addAndFetch.jpg
  Easy/4. Digital Hospital Manager/solutions/Prachi-05_Prachi/fetchPatientData.jpg
Labels: easy

#113 Dhm medium
  Medium/4. Digital Hospital Manager/solutions/Prachi-05_Prachi/Add1.jpg
  Medium/4. Digital Hospital Manager/solutions/Prachi-05_Prachi/Addandfetch.jpg
  Medium/4. Digital Hospital Manager/solutions/Prachi-05_Prachi/DigitalHospitalManager.java
  Medium/4. Digital Hospital Manager/solutions/Prachi-05_Prachi/README.md
  Medium/4. Digital Hospital Manager/solutions/Prachi-05_Prachi/Update.jpg
  Medium/4. Digital Hospital Manager/solutions/Prachi-05_Prachi/digitalhospitalmanager/patientrecord.ibd
  Medium/4. Digital Hospital Manager/solutions/Prachi-05_Prachi/digitalhospitalmanager/symptomsdetails.ibd
  Medium/4. Digital Hospital Manager/solutions/Prachi-05_Prachi/fetch.jpg
Labels: explorer, intermediate

#120 Updates readme for testing workflow
  README.md
Labels: aficionado, explorer, neophyte

#121 Updates event to pull_request_target
  .github/workflows/create-badge.yml
Labels: aficionado, explorer, neophyte

#114 Digital hosp easy
  Easy/4. Digital Hospital Manager/solutions/AnjaliPatle_Anjali/Description_Output.pdf
  Easy/4. Digital Hospital Manager/solutions/AnjaliPatle_Anjali/EasySolution.cpp
Labels: easy

#118 4doctorstrange_HarshRajput
  Medium/4. Digital Hospital Manager/solutions/Adding Patients.JPG
  Medium/4. Digital Hospital Manager/solutions/Displaying data.JPG
  Medium/4. Digital Hospital Manager/solutions/Input.py
  Medium/4. Digital Hospital Manager/solutions/Main.py
  Medium/4. Digital Hospital Manager/solutions/Medical_data.py
  Medium/4. Digital Hospital Manager/solutions/Personal_data.py
  Medium/4. Digital Hospital Manager/solutions/ReadMe.txt
  Medium/4. Digital Hospital Manager/solutions/Record.py
  Medium/4. Digital Hospital Manager/solutions/getting status by patient ID.JPG
  Medium/4. Digital Hospital Manager/solutions/patients admitted on current date.JPG
  Medium/4. Digital Hospital Manager/solutions/updated table.JPG
  Medium/4. Digital Hospital Manager/solutions/updating table.JPG
Labels: intermediate
